body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center; /* Centering the ascii art */
}

.ascii-art {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    display: block; /* Ensures ascii art is block-level for margin auto */
    margin: 20px auto; /* Adds top and bottom margin, centers horizontally */
}

h1, h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    margin: 20px 0;
}

.contact-info {
    text-align: left;
    width: 50%;
    margin-left: 2.5%;
    float: left;
}

.whitepaper_block {
    text-align: left;
    width: 50%;
    margin-left: 2.5%;
    float: left;
}

.whitepaper_nonblock {
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
    float: left;    
}

.update-box {
    width: 35%;
    float: right;
    background-color: #222;
    padding: 15px;
    margin-right: 2.5%;
    text-align: left;
}

.update-entry {
    border-bottom: 1px solid #555;
    margin-bottom: 10px; /* Separation between update entries */
    padding-bottom: 10px; /* Padding below each update for spacing */
}

.update-entry:last-of-type {
    border-bottom: none; /* No border for the last entry */
}

footer {
    clear: both; /* Clears the floating elements */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

@media (max-width: 600px) {
    .contact-info, .whitepaper, .update-box {
        float: none;
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }
    .whitepaper {
        order: 3;
    }
    .update-box {
        order: 2;
        margin-top: 0;
    }
    .contact-info {
        order: 1;
    }
}
