body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center; /* Centering the ascii art */
}

.ascii-art {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    display: block; /* Ensures ascii art is block-level for margin auto */
    margin: 20px auto; /* Adds top and bottom margin, centers horizontally */
}

.title_big img {
    display: block;
    margin: 0 auto;
    max-width: 99%;
    height: auto;
}

h1, h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    margin: 20px 0;
}

.contact-info {
    text-align: left;
    width: 50%;
    margin-left: 2.5%;
    float: left;
}

.whitepaper_block {
    text-align: left;
    width: 50%;
    margin-left: 2.5%;
    float: left;
}

.whitepaper_nonblock {
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
    float: left;    
}

.update-box {
    width: 35%;
    float: right;
    background-color: #222;
    padding: 15px;
    margin-right: 2.5%;
    text-align: left;
}

.update-entry {
    border-bottom: 1px solid #555;
    margin-bottom: 10px; /* Separation between update entries */
    padding-bottom: 10px; /* Padding below each update for spacing */
}

.update-entry:last-of-type {
    border-bottom: none; /* No border for the last entry */
}

footer {
    clear: both; /* Clears the floating elements */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Media Queries */
/* iPhone X (portrait and landscape) */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) {
    /* Styles */
    .title_big img {
        display: block;
        margin: 1 auto;
        max-width: 50%;
        height: auto;
    }
}

/* iPad (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPhone 8, 7, 6s, 6 (portrait and landscape) */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    /* Styles */
}

/* iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (portrait and landscape) */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    /* Styles */
}

/* iPhone 5S, SE (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /* Styles */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* Styles */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* Styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Styles */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Styles */
}
